<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>People.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5AB96AAE29FC0B83002753D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ACB9DC52A0476EB00B8BCC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AD7FEF02A07C7BD00883012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
